*.v linguist-language=Verilog
*.m linguist-language=MATLAB
*.R linguist-language=R
*.scala linguist-language=Scala 
*.c linguist-language=C
*.cpp linguist-language=C++
*.java linguist-language=Java
*.go linguist-language=Golang
*.rb linguist-language=Ruby
*.py linguist-language=Python
*.ipynb linguist-language=JupyterNotebook
*.cs linguist-language=C#
*.php linguist-language=PHP
*.erl linguist-language=Erlang
*.hs linguist-language=Haskell
*.ts linguist-language=TypeScript 
*.js linguist-language=JavaScript
*.json linguist-language=JSON
*.xml linguist-language=XML
*.yaml linguist-language=YAML
*.lua linguist-language=Lua
*.perl linguist-language=Perl
*.rs linguist-language=Rust
*.rust linguist-language=Rust
*.sh linguist-language=Shell
*.sql linguist-language=SQL
